$primary-color: #0d6efd;
$dark-color: #212529;
$light-color: #f8f9fa;
$yellow-color: #ffc107;
$grey-color: #767b84;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 2rem;
}
